*{
    margin: 0;
    padding: 0;
}
.back{
    background-image: url(background1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 650px;
}
.header{
    background-color: black;

    
}
.header img{
    float: left;
    display: inline-block;
    background-color: black;
    width:50px ;
    height:50px;
    padding:10px ;

}
.header h1{
    display:inline-block;
    color: white;
    padding: 20px;
}
nav ,ul ,li ,a{
    display:inline;
}
nav{
    margin-left:60% ;

}
.header a{
    color: white;
    text-decoration:none ;
    padding:10px ;

}
a:hover{
    color: aqua;
    cursor: pointer;
} 
.main h1{
    text-align: center;
    padding-top:15% ;
    font-family:Arial;
    font-weight:800;
}
.main h2{
    text-align: center;
    font-size: large;
    font-style: C;
    font-weight:500;
    padding: 20px;
}
.btn{
    text-align: center;
    border-radius:200px ;
    padding:50px ;

}
.btn button{
    padding: 20px;
    background-color:black ;
    color: white;
    font-family:Arial ;
    border:40px ;
    border-radius:100px ;
}
button:hover{
    color: aqua;
    background-color:palevioletred ;
    cursor:pointer ;
}
.footer{
    background-color: black;
    color: white;
    text-align: center;
}
.footer a{
    text-decoration: none;
    padding:10px ;
    font-size: x-large;
    color: white;
}
.footer a:hover{
    color: yellow;
    cursor: pointer;
}
table{
    border: 20px;
    background-color: palevioletred;
    padding:10px ;
    margin-left:40%  ;
    margin-top: 20px; 
    margin-bottom:20px ;
    border-radius:20px; 
}
td{
    padding:5px ;

}
td input{
    border-radius:100px ;
    inline-size: none;
}
.contact button{
    padding: 10px;
    background-color:black ;
    color: white;
    font-family:Arial ;
    border:40px ;
    border-radius:100px ;

}
.contact button:hover{
    color: blue;
    background-color: white;
}    
.box1{
    background-color: rgb(232, 142, 172);
    width: 300px; 
    height:auto ;
    text-align: justify;
    padding: 20px;
    margin: 20px;
    color:black;
}
.box1 img{
    height:200px ;
    width:300px ;
}
.box1 button{
    padding: 10px;
    background-color:black ;
    color: white;
    font-family:Arial ;
    border:40px ;
    border-radius:100px;
    justify-content: center;
    margin-left:90px;
    margin-top: 20px;
}
.box1 button:hover{
    color: blue;
    background-color: white;
}
.box2{
    background-color:  rgb(232, 142, 172);
    width: 300px; 
    height:auto ;
    text-align: justify;
    padding: 20px;
    margin: 20px;
    color:black;
}
.box2 img{
    height:200px ;
    width:300px ;
}
.box2 button{
    padding: 10px;
    background-color:black ;
    color: white;
    font-family:Arial ;
    border:40px ;
    border-radius:100px;
    justify-content: center;
    margin-left:90px;
    margin-top: 20px;
}
.box2 button:hover{
    color: blue;
    background-color: white;
}   
.box3{
    background-color:  rgb(232, 142, 172);
    width: 300px; 
    height:auto ;
    text-align: justify;
    padding: 20px;
    margin: 20px;
    color:black;
}
.box3 img{
    height:200px ;
    width:300px ;
}
.box3 button{
    padding: 10px;
    background-color:black ;
    color: white;
    font-family:Arial ;
    border:40px ;
    border-radius:100px;
    justify-content: center;
    margin-left:90px;
     margin-top: 20px;
}
.box3 button:hover{
    color: blue;
    background-color: white;
}
.box4{
    background-color:  rgb(232, 142, 172);
    width: 300px; 
    height:auto ;
    text-align: justify;
    padding: 20px;
    margin: 20px;
    color:black;
}
.box4 img{
    height:200px ;
    width:300px ;
}
.box4 button{
    padding: 10px;
    background-color:black ;
    color: white;
    font-family:Arial ;
    border:40px ;
    border-radius:100px;
    justify-content: center;
    margin-left:90px;
     margin-top: 20px;
}
.box1 button:hover{
    color: blue;
    background-color: white;
}
.card{
    display: flex;
    margin:0px ;
}
.banner marquee{
    background-color:white;
    color: rgb(144, 255, 41);
    padding:10px ;
    width: 20%;
    margin-left: 40%;
}
.box2 i{
    display: flex;
}

